# Root GitIgnore for Shop_Management_System

# Compiled Java / Maven output
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd

# Node / Angular output
**/node_modules/
**/dist/
**/.angular/
**/tmp/
**/out-tsc/
**/bazel-out/
**/npm-debug.log
**/yarn-error.log
/node-v22.12.0-win-x64/
/node-v22.12.0-win-x64.zip

# IDEs and Editors
.idea/
**/.idea/
*.iws
*.iml
*.ipr
.vscode/
**/.vscode/
.settings/
**/.settings/
.project
.classpath
.factorypath
.apt_generated

# System files
.DS_Store
Thumbs.db
